.sidebar
{
    display: flex;
    flex-direction: column;
    left: 0;
    top: 56px;
    bottom: -1px;
    justify-content: center;
    background-color: white;
    position: fixed;

}

.sidebar-link
{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-left-style: none;

}

.sidebar-link:hover
{
    background-color: lightgray;
}

.side
{
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 20px;
}

.side-text
{
    padding-top: 6px;
    font-size: 12px;
}